:root {
  --color-text-secondary: #34d186;
  --color-light-gray: #bfbfbf;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
}

.app {
  margin: 8px;
  max-width: 30em;
  border: 2px solid var(--color-light-gray);
  border-radius: 16px;
}

.logo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 16px;
}

.logo-color {
  color: var(--color-text-secondary);
}

.income {
  padding: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.income > div {
  padding: 8px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: 1.3rem;
  font-weight: 600;
}

div > input {
  border-radius: 8px;
  border: 1px solid var(--color-light-gray);
  font-size: 1rem;
  padding: 0 8px;
}
